@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  
  <h1>Task Manager</h1>
</div>

<div class="logins">



    <a class="btn btn-dark mainbtn" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="btn btn-dark mainbtn" asp-area="Identity" asp-page="/Account/Register">Register</a>




</div>

