﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <h4 class="menu">Main Menu</h4>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <a asp-action="Create" asp-controller="Tickets" class="btn btn-dark">Add New Task</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <a asp-action="Index" asp-controller="Tickets" class="btn btn-dark">View Tasks</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>